target
.idea
.DS_Store
*.iml
*.ipr
*.iws
nb-configuration.xml
/drools5/04-DroolsExpertSpreadsheet/.settings/
/drools5/02-DroolsExpertConditionalElements/.settings/
/drools5/02-DroolsExpert-ConditionalElements/.settings/
/drools5/04-DroolsExpert-Spreadsheet/.settings/
.classpath
.settings
.nb-configurations.xml

